.inicio {
  display: flex;
  align-items: center;
}

.inicio__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.inicio__titulo {
  text-align: left;
  font-size: 10vw;
  line-height: 10vw;
  font-weight: var(--peso-900);
}

.inicio__parrafo {
  text-align: left;
  font-size: 1.50rem;
  line-height: 1.50rem;
  margin-bottom: 1rem;
  font-family: var(--tipo-primario);
  font-weight: var(--peso-200);
}

.inicio__container-redes {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-secundario);
}

.inicio__container-redes i {
  font-size: 2.5rem;
  cursor: pointer;
}

.inicio__descargar {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-primario);
  text-align: center;
  background-color: var(--color-secundario);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--color-primario);
}

.inicio__descargar:hover {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border: 2px solid var(--color-secundario);
  transition: background-color .4s ease;
}

@media screen and (max-width: 768px) {
  .inicio__titulo {
  font-size: 12vw;
  line-height: 12vw;
}

.inicio__parrafo {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
}

@media screen and (max-width: 425px) {
  .inicio__titulo {
  font-size: 15vw;
  line-height: 13vw;
}

  .inicio__parrafo {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .inicio__descargar {
    padding: 0.75rem 1.5rem;
  }
}